<div class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <%= link_to "#", class: "navbar-brand mx-auto" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", width: 48 %>
    <% end %>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Glossary", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "News & Articles", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
      <% unless user_signed_in? %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle no-arrow" id="loginDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <%= image_tag "Vector.png", class: "avatar", alt: "dropdown icon" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="loginDropdown">
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>